<a href="https://colab.research.google.com/github/AleMarocho/prueba/blob/main/Estructuras_de_datos_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clase 2: Estructuras de datos en Python

<a class="anchor" id="principio"></a>
- [Introdución](#intro)
- [1. Listas](#listas)
    - [Creando listas](#creal)
    - [Indices de una lista](#indx)
    - [List Slicing](#slic)
    - [Modificando una lista](#modif)
    - [Una propiedad curiosa de las listas](#curio)
    - [Métodos de las listas](#mets)
    - [Funciones integradas](#fuinc)
    - [Listas de listas](#ldel)

<a class="anchor" id="intro"></a>

## Introducción
- Los tipos de datos que hasta ahora hemos estudiado tienen un sólo elemento.
- Hay estructuras más complejas que pueden contener varios de esos tipos de datos.

En programación, una estructura de datos sirve para organizar y almacenar datos de la forma más eficiente. Más precisamente, una estructura de datos es una colección de valores de datos, las relaciones entre ellos y las funciones u operaciones que se pueden aplicar a los datos, es decir, es una estructura algebraica sobre datos.


<img src="../img/estructuras.png" width="400">

[source](https://en.wikipedia.org/wiki/File:Python_3._The_standard_type_hierarchy.png)

Vimos las estructuras de datos más primitivas, ahora nos enfocaremos en estructuras que albergan más elementos.

In [ ]:
mystring = "hola".upper() #metodos son acciones en comun que se  puede aplicar a un objeto de la misma clase
mystring2 = "hola2".lower()
# los metodos simpre se llaman con un parentesis.
# los atributos siempre se llaman con un  puntito

In [ ]:
## Clases: replicación de ese molde. podamos  hacer las mismas cosas.

#TODO EN PYTHON ES UN OBJETO.


<a class="anchor" id="listas"></a>

## I. Listas

Las listas nos permiten almacenar y trabajar varios tipos de datos como una lista ordenada de valores.

Es una estructura de datos muy versátil y puede hacer muchas tareas. Se usa muchísimo al escribir Python ya que es muy sencilla y por ello muy ideal de aprender al principio.

<a class="anchor" id="creal"></a>

### Creando una lista:

In [ ]:
lista = [1, 2, 3, 4, 5] ## los brackets [] son lo principal para crear una lista, los elementos se separan por comas.
lista

milista = [1,2,3,4]
milista

In [ ]:
#Constructores de rangos
#pueden aceptar varios parametros - # de argumentos como input

list(range(10))

#si queremos un rango de 4-10, se coloca hasta el 11
list(range(4,11))

#los rangos solo sirven para números enteros

[4, 5, 6, 7, 8, 9, 10]

¿Y si llamamos a ```lista2```?

In [ ]:
lista2

In [ ]:
lista2 # si no se define la lista, se genera un error.

In [ ]:
cursos = ["Historia", "Economía", "Antropología", "RSP", "Derecho", "Sociología", "Filosofía", "Psicología", "Ciencia Política", "Geografía"]

Las listas pueden contener elementos de diferentes tipos

In [ ]:
mi_lista = [5, "hola", 50.55, True, "chau"]
mi_lista

Normalmente trabajamos con listas que tienen datos del mismo tipo,   
ya que iteramos con ellas y el código podría arrojar error.

Aquí creamos una lista vacía

In [ ]:
vacia = []

In [ ]:
## Utilizando un constructor de listas
mi_lista2 = list((5, "hola", 50.55, True, "chau"))
mi_lista2

Podemos crear listas al concatenar varias listas:

In [ ]:
primera_parte = [1, 2, 3, 4, 5]
segunda_parte = [6, 7, 8, 9, 10]

primera_parte + segunda_parte
#new = primera_parte + segunda_parte

Podemos crear una lista de un tamaño determinado:

In [ ]:
n = 15
lst = [0] * n
lst

In [ ]:
elm = [2,3]
new = [elm]*5
print(new)
new[0] = 1
print(new)

In [ ]:
0, 1, 2, 3

In [ ]:
n = 10
lst = [0, 1, 2] * n
print(lst)   ## La multiplicación repite la lista n veces

Podemos ver cuántos elementos tiene una lista

In [ ]:
print(len(mi_lista))
print(len(segunda_parte))
print(len(lst))

<a class="anchor" id="indx"></a>

### Indices de una lista
Las listas son ordenadas por naturaleza, por lo que habrá un índice con el que nos podremos referir a cada elemento de estas. A continuación aprenderemos a utilizar los índices de las listas.

Hay unicidad a través del índice sobre el que se ordenan.

In [ ]:
cursos = ['Historia',
 'Economía',
 'Antropología',
 'RSP',
 'Derecho',
 'Sociología',
 'Filosofía',
 'Psicología',
 'Ciencia Política',
 'Geografía']

In [ ]:
#PYTHON ES UN LENGUAJE INDEXADO A 0.
#Para llamar a los elementos de una lista, debemos llamar al número
#(recuerda que inicia por CERO)

In [ ]:
cursos[3]

'RSP'

In [ ]:
cursos[1:6:2]

['Economía', 'RSP', 'Sociología']

In [ ]:
cursos[-3]

'Psicología'

In [ ]:
primeros_10 = list(range(10))

A tener en cuenta: Aquí los brackets son diferentes a los que se usan para rebanar strings, pero iguales en el sentido de la indexación!

In [ ]:
mensaje = "Mañana será bonito"
mensaje[0:6] ## ojo que el ultimo número no se cuenta.
#mensaje[-6:]

#len(mensaje)

'Mañana'

<a class="anchor" id="slic"></a>

### List Slicing (Rebanado de listas)

`lista = [10, 20, 30, 40, 50]`

| Slicing                 | Descripción                                                   | Ejemplo            |
|-------------------------|---------------------------------------------------------------|-----------------------------------|
| `lista[start:end]`      | Extrae una sublista desde el índice `start` hasta `end - 1`.  | `lista[1:3]` -> `[20, 30]`        |
| `lista[start:]`         | Extrae una sublista desde `start` hasta el final de la lista. | `lista[2:]` -> `[30, 40, 50]`     |
| `lista[:end]`           | Extrae una sublista desde el comienzo hasta `end - 1`.        | `lista[:3]` -> `[10, 20, 30]`     |
| `lista[-n:]`            | Extrae los últimos `n` elementos de la lista.                | `lista[-3:]` -> `[30, 40, 50]`    |
| `lista[:-n]`            | Extrae todo excepto los últimos `n` elementos de la lista.   | `lista[:-2]` -> `[10, 20, 30]`    |
| `lista[start:end:step]` | Extrae elementos dentro del rango `start` a `end - 1` con pasos de `step`. | `lista[0:5:2]` -> `[10, 30, 50]` |
| `lista[::step]`         | Extrae elementos de toda la lista con pasos de `step`.       | `lista[::2]` -> `[10, 30, 50]`    |
| `lista[::-1]`           | Invierte la lista.                                            | `lista[::-1]` -> `[50, 40, 30, 20, 10]` |

In [ ]:
cursos = ['Historia',
 'Economía',
 'Antropología',
 'RSP',
 'Derecho',
 'Sociología',
 'Filosofía',
 'Psicología',
 'Ciencia Política',
 'Geografía']

### Ejercicios:
1. Toma el segundo elemento de   `cursos` y guárdalo en una variable llamada `curso_2`.
2. Toma el penúltimo elemento de `cursos` y guárdalo en una variable llamada `curso_9`.
3. Toma los primeros 3 elementos de `cursos` y guárdalos en una variable llamada `primeros_3`.
4. Toma los últimos 3 elementos de `cursos` y guárdalos en una variable llamada `ultimos_3`.
5. Toma los elementos de `cursos` que están entre el segundo y el quinto elemento y guárdalos en una variable llamada `elementos_intermedios`.
6. Invierte la lista `cursos` y guárdala en una variable llamada `cursos_invertidos`.
7. Toma los elementos del 2do al 8vo con un step de 2, guardalo en una variable llamada `step_2`.

In [ ]:
curso_2 = cursos[1]
curso_9 = cursos[-2]

In [ ]:
# Desarrolla aquí tus ejercicios

# 1.
# 2.
# 3.
# 4.
# 5.
# 6.
# 7.

Las listas pueden tener indexes fuera de rango. En este ejemplo, el indice 20 se comporta igual que len(lst) + 1.  

No tener que preocuparnos por los indexes, puede ser conveniente!

In [ ]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(nums[0:20])
print(nums[0:len(nums) + 1])
print(nums[0:len(nums)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
nums[5:20]

<a class="anchor" id="modif"></a>

### Modificando una lista

Las listas son objetos **mutables**, lo cual indica que sus valores se pueden modificar después de su creación (se pueden cambiar, agregar, eliminar elementos). Otras estructuras, como los strings y las tuplas, no se pueden cambiar.

Para modificar una lista, podemos hacer lo siguiente

In [ ]:
lst = [1,2,3]
print(id(lst))

lst.append(4) #se agrega valores a una lista, sin alterar la identidad
lst

134485518515776

[1, 2, 3, 4]

In [ ]:
print(id(lst))

In [ ]:
cursos[3] = "Sociologia"
cursos

In [ ]:
#No se puede llamar a una lista "list"
#list = [1,2,3]

a = [1,2,3]
b = a
# referenciar con el mismo nombre, tienen el mismo id

b.append(4)
#se le agrega el valor a ambos

In [ ]:
a
#se realiza la modificación para a y b

[1, 2, 3, 4]

<a class="anchor" id="curio"></a>

### Una propiedad curiosa de las listas (Importante)

Imaginen que tenemos una lista, y queremos hacer una copia de dicha lista:

In [ ]:
lst_a = [1,2,3,4]
lst_b = lst_a

Ahora, modifiquemos la lst_a:

In [ ]:
lst_a[2] = 5
lst_a

¿ Qué pasó con la otra lista?

In [ ]:
lst_b

También ha cambiado!

dddd

Aquí introducimos el comando `id`

In [ ]:
print(id(lst_a))
print(id(lst_b)) ## Tienen los mismos ids!

In [ ]:
lst_a is lst_b

#### Los nombres de variables son como referencias

Cuando nombramos a una variable, la variable no es su nombre en sí, sino es una referencia a un lugar de la memoria. La `lst_a` no es [1,2,3,4] , sino hace referencia a dicho objeto. La `lst_b`, al haberla creado como `lst_b` = `lst_a`, también hace referencia al mismo objeto.

Los nombres son como "etiquetas" o "alias" que se le dan a los objetos. En este caso, hicimos una copia falsa.

<img src="../img/lsts.png" width="800">

#### Haciendo una copia que no referencie al mismo objeto:

Si queremos hacer una copia independiente basada en una lista preexistente, solo tenemos que hacer:

In [ ]:
lst_c  = lst_a[:]

In [ ]:
id(lst_c)

In [ ]:
id(lst_a)

In [ ]:
lst_c is lst_a

In [ ]:
lst_c == lst_a

In [ ]:
lst_d = lst_a.copy() ## Otra forma de crear una copia

<a class="anchor" id="mets"></a>

### Métodos de las listas

| Método    | Descripción                                        | Ejemplo de Código                         |
|-----------|----------------------------------------------------|-------------------------------------------|
| `append()` | Añade un elemento al final de la lista.            | `frutas = ['aguacate', 'banana', 'cereza']`<br>`frutas.append('datil')` |
| `extend()` | Añade los elementos de una lista al final de otra lista. | `frutas = ['aguacate', 'banana', 'cereza']`<br>`frutas.extend(['datil', 'fig'])` |
| `insert()` | Añade un elemento en un índice específico.        | `frutas = ['aguacate', 'banana', 'cereza']`<br>`frutas.insert(1, 'arándano')` |
| `remove()` | Elimina la primera aparición de un elemento.      | `frutas = ['aguacate', 'banana', 'cereza', 'banana']`<br>`frutas.remove('banana')` |
| `pop()`    | Elimina y devuelve el elemento en un índice dado. | `frutas = ['aguacate', 'banana', 'cereza', 'datil']`<br>`fruta = frutas.pop(1)` |
| `count()`  | Devuelve el número de veces que un valor aparece en la lista. | `frutas = ['cereza', 'banana', 'cereza', 'cereza', 'datil']`<br>`print(frutas.count('cereza'))` |
| `sort()`   | Ordena la lista in situ.                           | `frutas = ['cereza', 'aguacate', 'datil', 'aguacate', 'banana']`<br>`frutas.sort()` |
| `reverse()`| Invierte el orden de los elementos en la lista.   | `frutas = ['aguacate', 'banana', 'cereza']`<br>`frutas.reverse()` |

In [ ]:
frutas = ['cereza', 'aguacate', 'datil', 'aguacate', 'banana']
frutas.sort() #ordena la lista alfabéticamente

frutas

['aguacate', 'aguacate', 'banana', 'cereza', 'datil']

In [ ]:
frutas.append("banana")

In [ ]:
frutas.count("banana") #contar cuántas veces hay un elemento similar

2

In [ ]:
frutas.extend(["datil", "fig"]) #añades elementos de una lista a otra

In [ ]:
frutas

['aguacate', 'aguacate', 'banana', 'cereza', 'datil', 'banana', 'datil', 'fig']

In [ ]:
 a = list (range(5))
 a[2] = 144
 #cambiar elementos de la lista a través de la indexación
 a

[0, 1, 144, 3, 4]

#### Ejercicios:

Teniendo la siguiente lista:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]

- Agrega el curso de "Sociologia" al final de la lista.
- Agrega el curso de "Filosofia" al inicio de la lista.
- Reemplaza el curso de "RSP" por "Ciencia Política"
- Extiende la lista con los cursos de "Psicología" y "Geografía".
- Elimina el curso de "Derecho" de la lista.


num_lst = [1, 1, 2, 3, 4, 5, 6, 7, 8, 1, 9, 9]
- Cuenta el número de veces que aparece el número 1 en la lista.
- Verifica si el número 5 está en la lista. (hint: usa el operador `in`)
- Verifica si el número 9 aparece más de una vez en la lista.
- Ordena la lista.
- Revierte la lista.

<a class="anchor" id="fuinc"></a>

### Funciones integradas

Python viene con funciones integradas, las cuales se pueden aplicar a estructuras de datos como las listas. Aquí las siguientes:

| Función    | Descripción                                                  | Ejemplo                    |
|------------|--------------------------------------------------------------|---------------------------------------|
| `sum()`    | Calcula la suma total de los elementos en la colección.      | `sum([1, 2, 3])` -> `6`               |
| `len()`    | Devuelve el número de elementos en la colección.             | `len([1, 2, 3, 4, 5])` -> `5`               |
| `max()`    | Encuentra el valor máximo entre los elementos.               | `max([1, 2, 3, 7])` -> `7`               |
| `min()`    | Encuentra el valor mínimo entre los elementos.               | `min([-1, 1, 2, 3])` -> `- 1`               |
| `sorted()` | Devuelve una nueva lista con los elementos ordenados.        | `sorted([3, 1, 2])` -> `[1, 2, 3]`    |

In [ ]:
#toman como argumentos una familia de tipos

help(sum) #va a poder ser argumento de la función sum

#si una lista tiene elementos netamente numéricos, se le van a sumar

sum([1,2,3])

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

6

Ejercicios:

- Crear una lista con los números del 1 al 10. Obtén el número, la suma  y el promedio de los elementos de la lista.

In [ ]:
lst = list(range(1,11))
print(len(lst))
print(sum(lst))

sum_ = sum(lst)
len_ = len(lst)

promedio = sum_/len_
print(promedio)

Se pueden hacer operaciones con los elementos (numéricos) de una lista

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9]

print(nums[1] * nums[2] * nums[3])

<a class="anchor" id="ldel"></a>

###  Listas de listas

fancy indexing

In [ ]:
mat = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
mat

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
#se pueden acceder a los elementos de los elementos por los subíndices

mat[1][1]
#Acceder al valor 5, escoges la primera lista, y el segundo objeto

5

In [ ]:
mat[2][2]

9

In [ ]:
# accediendo al elemento 8 de la lista en el tercer lugar:
mat[1][1]

5

In [ ]:
#copias shallow
mat2 = mat.copy()

In [ ]:
mat[0][1]

In [ ]:
mat[2][2]

In [ ]:
lista_vacia = []
lista_llena= [[1,2,3,4,5], [6,7,8,9,10],
              ['Economia', ['Psicologia', 'Antropologia'],
               'RSP', 'Derecho']]

In [ ]:
lista_llena[2][1][1]

In [ ]:
lista = [1,2,3,4,5]
print(lista)
print(id(lista))
lista.append(6)
print(id(lista))
print(lista)